<div class="jumbotron">
  <h1 class="display-4 heading" style="text-align:center;">Calculation App</h1>
  
 <div class="container"> 
 <div class="expressions" id="chat_form" style="height:300px; overflow-y:scroll;">
   <% @expressions.each do |expression| %>
        <%= render 'expressions/expression', expression: expression %>
   <%end%> 
 </div>

 <%= form_with model: @expression do |f| %>
    <div class="input-group mb-3">
        <%= f.text_field :body, placeholder:"Enter your mathematical expression", class:"form-control"%>    
        <div class="input-group-append">
             <%= f.submit "Calculate", class:"btn btn-primary submit" %>
        </div>
    </div>
<% end %>
<% flash.each do |type, msg| %>
    <div class="alert alert-info">
        <%= msg %>
    </div>
<% end %>
</div>

</div>